/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  background-color: #fff;
}
.content {
  width: 1000px;
  padding: 25px 50px;
  margin: 25px auto;
  background-color: white;
  box-shadow: 0px 0px 10px #999;
  border-radius: 15px;
  font-family: "Google Sans";
}
.contentblock {
  width: 950px;
  margin: 0 auto;
  padding: 0;
  border-spacing: 25px 0;
}
.contentblock td {
  background-color: #fff;
  padding: 25px 50px;
  vertical-align: top;
  box-shadow: 0px 0px 10px #999;
  border-radius: 15px;
}
a, a:visited {
  color: #224b8d;
  font-weight: 300;
}
#authors {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
#conference {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}
#authors a {
  margin: 0 10px;
}
h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  font-weight: 300;
}
code {
  display: block;
  padding: 10px;
  margin: 10px 10px;
}
p {
  line-height: 25px;
  text-align: justify;
}
p code {
  display: inline;
  padding: 0;
  margin: 0;
}
#teasers {
  margin: 0 auto;
}
#teasers td {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
#teasers img {
  width: 250px;
}
#results img {
  width: 133px;
}
#seeintodark {
  margin: 0 auto;
}
#sift {
  margin: 0 auto;
}
#sift img {
  width: 250px;
}
.downloadpaper {
  padding-left: 20px;
  float: right;
  text-align: center;
}
.downloadpaper a {
  font-weight: bold;
  text-align: center;
}
.teaser-img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.teaser-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.summary-img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.video-iframe {
  width: 1000;
  height: 800;
  margin: auto;
  display: block;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}
.image {
  flex-basis: 40%
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.boxshadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px 5px #888888;
}
.spacertr {
  height: 8px;
}
.spacertd {
  width: 40px;
}


/* 修改你之前的 CSS */
/* 修改你之前的 CSS */
.results-carousel {
  display: flex;             /* 核心：让子元素并排 */
  overflow-x: auto;          /* 核心：允许横向滚动 */
  scroll-snap-type: x mandatory; /* 核心：滑动时自动吸附，像翻页一样 */
  -webkit-overflow-scrolling: touch;
  /* max-width: 50%;      配合使用确保不会溢出 */
}

.results-carousel .item {
  flex: 0 0 100%;            /* 核心：每个 item 占据 100% 的宽度 */
  scroll-snap-align: start;  /* 核心：对齐方式 */
  box-sizing: border-box;
}

.results-carousel .item:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-lg);
}

.results-carousel .item img,
.results-carousel video {
  margin: 0;
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
}

.results-carousel .subtitle {
  font-size: 1rem !important;
  color: var(--text-secondary);
  margin-top: 1rem;
  font-weight: 500;
  text-align: center;       /* 核心：文字居中 */
}

